Repository Sallmahussien/sorting_algorithms, pull requests merged in 2023-07, with the labels that each got.

#4 Add Selection Sort Algorithm
  2-O
  2-selection_sort.c
Labels: enhancement, selection sort

#5 Add Bubble Sort Algorithm
  0-O
  0-bubble_sort.c
  sort.h
Labels: enhancement, bubble sort

#7 Move swap functions From Print Array File
  0-bubble_sort.c
  2-selection_sort.c
  print_array.c
Labels: bug

#9 Add Insertion Sort Algorithm
  1-O
  1-insertion_sort_list.c
  sort.h
Labels: enhancement, insertion sort

#11 Fix insertion sort bug
  1-insertion_sort_list.c
  sort.h
Labels: bug, insertion sort

#13 Implement Shell Sort Algorithm
  100-shell_sort.c
  sort.h
Labels: enhancement, shell sort

#15 Implement Counting Sort Algorithm
  102-O
  102-counting_sort.c
Labels: enhancement, counting sort

#17 Implement Quick Sort `Lomuto` Partitioning
  3-O
  3-quick_sort.c
  sort.h
Labels: enhancement, quick sort

#19 Implement Radix Sort Algorithm
  105-radix_sort.c
  sort.h
Labels: enhancement, radix sort

#21 Implement Cocktail Shaker Sort Algorithm
  101-O
  101-cocktail_sort_list.c
Labels: enhancement, cocktail sort

#24 Implement Merge Sort Algorithm
  103-O
  103-merge_sort.c
  sort.h
Labels: enhancement, merge sort

#26 Implement Heap Sort Algorithm
  104-O
  104-heap_sort.c
  sort.h
Labels: enhancement, heap sort

#29 Implement Bitonic Sort Algorithm
  106-O
  106-bitonic_sort.c
Labels: enhancement, bitonic sort

#30 Implement Quick Sort (Hoare) Algorithm
  107-O
  107-quick_sort_hoare.c
  sort.h
Labels: enhancement, quick sort hoare

#32 Implement Sorting Deck
  1000-sort_deck.c
  deck.h
Labels: enhancement, sort deck

#34 Update README file
  README.md
Labels: documentation
